<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
>
  <%- include('./includes/head.ejs') %>
  <body>
    <div class="es-wrapper-color">
      <!--[if gte mso 9]>
        <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
          <v:fill type="tile" color="#fafafa"></v:fill>
        </v:background>
      <![endif]-->
      <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td class="esd-email-paddings" valign="top">
              <table
                cellpadding="0"
                cellspacing="0"
                class="es-content"
                align="center"
              >
                <%- include('./includes/header.ejs') %>
                <tbody>
                  <tr>
                    <td class="esd-stripe" align="center">
                      <table
                        bgcolor="#ffffff"
                        class="es-content-body"
                        align="center"
                        cellpadding="0"
                        cellspacing="0"
                        width="600"
                      >
                        <tbody>
                          <tr>
                            <td class="esd-structure es-p20" align="left">
                              <table
                                cellpadding="0"
                                cellspacing="0"
                                width="100%"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      width="560"
                                      class="esd-container-frame"
                                      align="center"
                                      valign="top"
                                    >
                                      <table
                                        cellpadding="0"
                                        cellspacing="0"
                                        width="100%"
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              align="center"
                                              class="esd-block-text es-m-txt-c"
                                            >
                                              <h2>
                                                Order&nbsp;<a
                                                  target="_blank"
                                                  href="https://straightupbourbon.com/profile"
                                                  >#65000500</a
                                                >&nbsp;has been shipped!&nbsp;
                                              </h2>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              align="center"
                                              class="esd-block-button es-p25t es-p15b"
                                            >
                                              <span
                                                class="es-button-border"
                                                style="
                                                  border-radius: 6px;
                                                  border-color: #5c68e2;
                                                  border-width: 2px;
                                                  background: #5c68e2;
                                                "
                                                ><a
                                                  href="https://straightupbourbon.com/profile"
                                                  class="es-button"
                                                  target="_blank"
                                                  style="
                                                    border-left-width: 30px;
                                                    border-right-width: 30px;
                                                    border-radius: 6px;
                                                  "
                                                  >TRACK YOUR ORDER</a
                                                ></span
                                              >
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              align="center"
                                              class="esd-block-text es-p20b"
                                            >
                                              <p>
                                                Expected delivery
                                                <strong
                                                  >Apr 22 — 26, 2021</strong
                                                >
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td
                              class="esd-structure es-p15t es-p10b es-p20r es-p20l"
                              align="left"
                            >
                              <table
                                cellpadding="0"
                                cellspacing="0"
                                width="100%"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      width="560"
                                      align="left"
                                      class="esd-container-frame"
                                    >
                                      <table
                                        cellpadding="0"
                                        cellspacing="0"
                                        width="100%"
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              align="center"
                                              class="esd-block-text es-p10t es-p10b"
                                            >
                                              <p>
                                                Got a question?&nbsp;Email us
                                                at&nbsp;<a
                                                  target="_blank"
                                                  href="mailto:"
                                                  >support@</a
                                                ><a
                                                  target="_blank"
                                                  href="mailto:"
                                                  >stylecasual</a
                                                ><a
                                                  target="_blank"
                                                  href="mailto:straightupbourbon@gmail.com"
                                                  >.com</a
                                                >&nbsp;or give us a call
                                                at&nbsp;<a
                                                  target="_blank"
                                                  href="tel:"
                                                  >+000 123 456</a
                                                >.
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <%- include('./includes/footer.ejs') %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
