<table
  cellpadding="0"
  cellspacing="0"
  class="es-content esd-header-popover"
  align="center"
>
  <tbody>
    <tr>
      <td class="esd-stripe" align="center">
        <table
          bgcolor="#ffffff"
          class="es-content-body"
          align="center"
          cellpadding="0"
          cellspacing="0"
          width="600"
        >
          <tbody>
            <tr>
              <td class="esd-structure es-p15t es-p20r es-p20l" align="left">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td
                        width="560"
                        class="esd-container-frame"
                        align="center"
                        valign="top"
                      >
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td
                                align="center"
                                class="esd-block-image es-p10t es-p10b"
                                style="font-size: 0px"
                              >
                                <a target="_blank"
                                  ><img
                                    src="https://straightupbourbon.com/static/media/logo.05c72490.png"
                                    alt
                                    style="display: block"
                                    width="100"
                                /></a>
                              </td>
                            </tr>
                            <tr>
                              <td
                                align="center"
                                class="esd-block-text es-p10b es-m-txt-c"
                              >
                                <h1 style="font-size: 46px; line-height: 100%">
                                  <strong><%= meta.title %></strong>
                                </h1>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
